
@import "variables";
@import "header";
@import "main";
@import "formulario";
@import "footer";

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
}

